{
  "serverName": "irc.tomsk.net",
  "serverPort": 6666,
  "serverPass": "",
  "channels": [
    "#lpr"
  ],
  "userNick": "InnaBot",
  "userIdent": "rusnet",
  "userRealName": "IRCBot",
  "userNickPass": "",
  "userNickAuthStyle": "rusnet",
  "userMode": "x",
  "rejoinOnKick": true,
  "logDriver": "MongoDB",
  "logDriverParameters": [
        "192.168.1.186:27017",
        "irc",
        "mongo_user_name",
        "mongo_password"
  ],
  "botAdministratorPassword": "very_secret_password",
  "chanelConfigurationsPath": "/home/USERNAME/TSV_CONF_FOLDER/",
  "applicationLogDir": "/tmp/appLogs"
}